<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LouisiANIME</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="description" content="LouisiANIME convention.">
    <meta property="og:title" content="LouisiANIME 2015">
    <meta property="og:image" content="http://www.louisianime.com/img/Carousel.jpg">
    <meta property="og:description" content="LouisiANIME convention.">
    <meta property="og:url" content="http://www.louisianime.com/">
    <!-- Bootstrap -->
    <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/css/template.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{"/css/carousel.css"| prepend: site.baseurl }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<!-- Lightbox Dependencies -->
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/lightbox.min.js"></script>
	<link href="/css/lightbox.css" rel="stylesheet" />
  </head>