<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:image" content="{{ site.url}}{% if page.image %}/img/{{ page.image }}{% else %}/img/Carousel.jpg{% endif %}">
    {% if page.image1 %}<meta property="og:image" content="{{ site.url}}/img{{ page.image1 }}">{% endif %}
    {% if page.image2 %}<meta property="og:image" content="{{ site.url}}/img{{ page.image2 }}">{% endif %}
    {% if page.image3 %}<meta property="og:image" content="{{ site.url}}/img{{ page.image3 }}">{% endif %}
    {% if page.image4 %}<meta property="og:image" content="{{ site.url}}/img{{ page.image4 }}">{% endif %}
    {% if page.image5 %}<meta property="og:image" content="{{ site.url}}/img{{ page.image5 }}">{% endif %}
    {% if page.image6 %}<meta property="og:image" content="{{ site.url}}/img{{ page.image6 }}">{% endif %}
    <meta property="og:description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Bootstrap -->
    <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/css/template.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{"/css/carousel.css"| prepend: site.baseurl }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<!-- Lightbox Dependencies -->
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/lightbox.min.js"></script>
	<link href="/css/lightbox.css" rel="stylesheet" />
  </head>